
:root {
  --card-height: 130px;
  --card-width: calc(var(--card-height) * (6 / 4));
  --i: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  transform: translate(
    calc(var(--card-height) / 2 * -1),
    calc(var(--card-height) / 2 * -1)
  );
}

.card {
  width: var(--card-height);
  height: var(--card-width);
  position: absolute;

  background-color: hsl(315, 100%, 60%);

  transform: rotate(-45deg);
  transform-origin: center 120%;
  
}

.card:nth-child(2) {
  --i: 1;
}