/* hint - we can invert a variable by multiplying it with -1 */
:root {
  --card-height: 130px;
  --card-width: calc(var(--card-height) * (6 / 4));
  --i: 0;
  --hsl: 315;
}

/* put the stack of cards in center */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* offset the cards by height/width so they are in the center of the screen */
.container {
  position: relative;
  transform: translate(
    calc(var(--card-height) / 2 * -1),
    calc(var(--card-height) / 2 * -1)
  );
}

/* base setup of size for the cards */
.card {
  width: var(--card-height);
  height: var(--card-width);
  position: absolute;

  /* hint - hue in hsl goes from 0-360 */
  /* hint - second color is hue 275, third is 235 ... */

  /* NOTE TO SELF: diff = 40 degrees, so... in the .card "loop" below, set background to -40 degrees... */
  /* I CAN remove the temp vars, but this is how i thought about it first... */

  --temp: calc(-40 * var(--i));
  --temp2: calc(var(--hsl) - var(--temp));
  background-color: hsl(var(--temp2), 100%, 60%);

  /*
  2*-40 = -80
  275 -80  235
  */
  
  /* hint - the cards are stacked in the wrong order, can we change that with a css property? */
  /* use --i but invert it with some math (forgot what this is called, invert thingy) */
  z-index: calc(-1 * var(--i));

  /* hint - use nth-child selectors or similar and override variables */
  /* hint - use rotate with variables and offset the rotation origin */
  /* hint - first card is at -45deg then add 10deg for each */

  /* rotate the cards based on --i variable */
  transform: rotate(calc(-45deg + (var(--i) * 10deg)));
  transform-origin: center 120%;


  /* NOTE TO SELF: Is it possible to short this? is there whiile / for looping in css??? this doesnt feel DRY with n+1 */
  &:nth-child(2) {
    --i: 1;
  }
  &:nth-child(3) {    
    --i: 2;
  }
  &:nth-child(4) {
    --i: 3;
  }
  &:nth-child(5) {
    --i: 4;
  }
  &:nth-child(6) {
    --i: 5;
  }
  &:nth-child(7) {
    --i: 6;
  }
  &:nth-child(8) {
    --i: 7;
  }
  &:nth-child(9) {
    --i: 8;
  }
}